



<div class = "col-sm-offset-0 col-sm-8">
   <h1> Fixture </h1> 

<br/><br/>
<% if current_user.adminflag? %> 
<%= link_to "Add Match",new_fixture_path, class: "btn btn-primary"%> 
<% end %>
</div>


<div class = 'center'>

   <%= will_paginate @user_bets %>

  <br/>
  <kbd>Current Time: <%= Time.now.strftime("%Y-%d-%m %H:%M:%S")  %></kbd>
</div>

<div class = "col-sm-offset-0 col-sm-12">
</br>
<table class="table table-striped">

  <tr>
    

    <th>Match</th>
    <th># of Bets </th>
    <th>Result</th>
    <th>Home Score</th>
    <th>Away Score</th>
    <th>Due Date</th>
    <th> </th>
    <th> </th>      <th> </th>
    <th> </th>   <th> </th>
    
  
  </tr>
    <% user = current_user.id %>



    <% @fixtures.each do |fixture| %>
    <tr>      
    <td><%= fixture.description %> </td>
    <td><%= fixture.bets.count %> </td>
    <td><%= fixture.result %> </td>
    <td><%= fixture.homescore  %> </td>
    <td><%= fixture.awayscore %> </td>

    <td>
        <%= fixture.due.strftime("%Y-%d-%m %H:%M")%> 

        </td> 
        <td> 
        </td>

    <td>
        <% if fixture.due > Time.now &&  
            (fixture.bets.where(:user_id => user).count) == 0 %>
             <%= link_to "Bet for Result", new_fixture_bet_path(fixture_id: fixture.id, bettype: 'Result',description: fixture.description, due: fixture.due.strftime("%Y-%d-%m %H:%M")) , class: 'btn btn-sm btn-primary'%>
        <%else %>

        <%end%>
         

     </td>

    <td>
        <% if fixture.due> Time.now &&  
            (fixture.bets.where(:user_id => user).count) == 0 %>
             <%= link_to "Bet for Score", new_fixture_bet_path(fixture_id: fixture.id, bettype: 'Score', description: fixture.description, due: fixture.due.strftime("%Y-%d-%m %H:%M")) , class: 'btn btn-sm btn-primary'%>
        <%else %>

        <%end%>

    </td>

    <td>
        <% if current_user.adminflag?  %> 
        <%= link_to 'Update', edit_fixture_path(fixture.id), class: 'btn btn-sm btn-primary' %>
        <%else%>
        <%end%> </td>
        
    <td><% if current_user.username == 'Soner'  %>  
        <%= link_to 'Delete', fixture_path(fixture), method: :delete, data:{confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger' %>
        <%else%>
        <%end%>
    </td>
    





 
 


<%end%>

</div>