
<div class = "col-sm-offset-0 col-sm-8">

<h1> My Bets </h1>
<br/><br/>

</div>

<div class = 'center'>
  <%= will_paginate @user_bets %>
</div>


<div class = "col-sm-offset-0 col-sm-12">
</br>
<table class= 'table table-striped'>

  <tr>
    

    <th>Match</th>
    <th>Result</th>
    <th>Home Score</th>
    <th>Away Score</th>
    <th>Due Date</th>
    <th>Created By</th>
    <th> </th><th> </th>
    <th> </th>   
    <th> </th>
    
  
  </tr>

    <% @bets.each do |bet| %>
    <% if current_user.id == bet.user_id || current_user.username == 'Soner'  %>
    <tr>
    
    <td><%= bet.fixture.description %> </td>
    <td><%= bet.result %> </td>
    <td><%= bet.homescore  %> </td>
    <td><%= bet.awayscore %> </td>
        <td>
       
        <%= bet.fixture.due.strftime("%Y-%d-%m %H:%M")%> 
        
        </td> 
    <td><%= bet.user.username%> </td>


    <td>
   </td>
    <td>
        <% if  ((current_user.id == bet.user.id || current_user.username == 'Soner') and  bet.fixture.due > Time.now.utc+3.hours)      %> 
        <%= link_to 'Update', edit_bet_path(bet), class: 'btn btn-sm btn-primary' %>
        <%else%>
        <%end%> </td>
        
    <td>
        <td><% if  ((current_user.id == bet.user.id || current_user.username == 'Soner') and  bet.fixture.due > Time.now.utc+3.hours)     %>  
        <%= link_to 'Delete', bet_path(bet), method: :delete, data:{confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger' %>
        <%else%>
        <%end%>
    </td>
    </td>
        <% end %>





 
 

        <%end%>


</div>