

<div class = 'container-fluid'>
<h1> Create </h1>


<%= render 'shared/errors',obj: @bet %>




  <div class = 'col-xs-10'>
<h2> Bet for <%= params[:bettype]  %>: <%= params[:description]  %> </h2>

    <%= form_for([@fixture,@bet], :html => {class: "form-horizontal", role: "form"}) do |n| %>
      

    <div class = "form-group">
      <div class="col-sm-4">
        <%= n.hidden_field :fixture_id,  :value => params[:fixture_id] ,class: "form-control"
         %>   
      </div>
    </div>


    <div class = "form-group">
      <div class="col-sm-4">
        <%= n.hidden_field :bettype,  :value => params[:bettype] ,class: "form-control"
         %>   
      </div>
    </div>


      <div class = "form-group">
        <div class = "control-label col-sm-2">
          <%= n.label :Result %> 
        </div>
        <div class="col-sm-4">
        <%= n.select :result, [0,1,2], {prompt: "Please Select"}, {class: "form-control"} %>
        </div>
      </div>




      <% if params[:bettype] == 'Score' %>
      <div class = "form-group">
        <div class = "control-label col-sm-2">
          <%= n.label :'Home Score' %> 
        </div>
        <div class="col-sm-4">
          <%= n.text_field :homescore, class: "form-control", placeholder: "Home Score", autofocus: true %>
        </div>
      </div>



        <div class = "form-group">
        <div class = "control-label col-sm-2">
          <%= n.label :'Away Score' %> 
        </div>
        <div class="col-sm-4">
          <%= n.text_field :awayscore, class: "form-control", placeholder: "Away Score", autofocus: true %>
      </div>
      </div>

      <% else %>
      <% end %>


     
 
        <div class = "col-sm-offset-0 col-sm-8">
          <%= n.submit class: 'btn btn-primary' %>
        </div>

  <div class = "col-sm-offset-0 col-sm-8">
     </br>
    <%= link_to "Return to the match list", fixtures_path %></p>
  </div>
    <%end%>



</div>
</div>